<a href="https://colab.research.google.com/github/sjsu-isda140-spring2022/assignment1/blob/main/exercise/first_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. System setup



```
# This is formatted as code
```

##DO NOT EDIT THE CELL BELOW.
##RUN THE CELL AS IS

##1.1 Install PyMongo.
##This is your database driver.

In [1]:
# Install PyMongo
# DO NOT EDIT
! python -m pip install pymongo==3.7.2 > /dev/null

In [2]:
# DO NOT EDIT
! python -m pip install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)



```
# This is formatted as code
```

##1.2 Import PyMongo and set database

In [27]:
# DO NOT EDIT
import datetime                           # Imports datetime library
import pymongo                            # Imports PyMongo library
from pymongo import MongoClient           # Imports MongoClient 
import json                               # Imports JSON library

In [103]:
SERVER_NAME =  #TODO: INSERT YOUR SERVER NAME (1 pt)

In [5]:
NAME_OF_COLLECTION = "movie_info"

In [6]:
USER_NAME = #TODO: INSERT YOUR USER NAME FOR MONGODB (1 pt)

In [8]:
PASSWORD = #TODO: INSERT YOUR PASSWORD FOR MONGODB (1 pt)

In [9]:
NAME_OF_DATABASE = 'movies'

##1.3 DON'T EDIT THE CELL BELOW
## It is setup to download database and import dataset into mongodb server using the server uri and credentials

In [10]:
#DO NOT EDIT
# Downloading Movie dataset using wget
!wget https://raw.githubusercontent.com/vega/vega/master/docs/data/movies.json

--2022-02-08 02:58:01--  https://fastdl.mongodb.org/linux/mongodb-linux-x86_64-debian71-3.0.15.tgz
Resolving fastdl.mongodb.org (fastdl.mongodb.org)... 13.226.9.66, 13.226.9.69, 13.226.9.56, ...
Connecting to fastdl.mongodb.org (fastdl.mongodb.org)|13.226.9.66|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 70878938 (68M) [application/x-gzip]
Saving to: ‘mongodb-linux-x86_64-debian71-3.0.15.tgz’

mongodb-linux-x86_6 100%[===================>]  67.59M  22.0MB/s    in 3.1s

2022-02-08 02:58:05 (22.0 MB/s) - ‘mongodb-linux-x86_64-debian71-3.0.15.tgz’ saved [70878938/70878938]

--2022-02-08 02:58:07--  https://raw.githubusercontent.com/vega/vega/master/docs/data/movies.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1399981 (1.3M) [text/plain]
Saving to: ‘movies.json.11’

movies.json.11      100%[===================>]   1.33M  --.-KB/s    in 0.05s

2022-02-08 02:58:07 (25.4 MB/s) - ‘movies.json.11’ saved [1399981/1399981]

In [106]:
uri = 'mongodb+srv://{}:{}@{}/{}?retryWrites=true&w=majority"'.format(USER_NAME,PASSWORD,SERVER_NAME,NAME_OF_DATABASE)
print(uri)
# # start client to connect to MongoDB server  (Successful connection: 1 point)
client = pymongo.MongoClient( uri ) 

#client = pymongo.MongoClient("mongodb+srv://prateekjain:sjsuisda2022@cluster0.l5ik4.mongodb.net/movies?retryWrites=true&w=majority")
#db = client.movies

mongodb+srv://prateekjain:sjsuisda2022@cluster0.l5ik4.mongodb.net/movies?retryWrites=true&w=majority"

##1.4 List databases and collections

In [107]:
db_names = #TODO: Print names of databases on the server (1 pt)
print(list(db_names))

[{'name': 'movies', 'sizeOnDisk': 761856.0, 'empty': False}, {'name': 'admin', 'sizeOnDisk': 376832.0, 'empty': False}, {'name': 'local', 'sizeOnDisk': 6919827456.0, 'empty': False}]

In [25]:
db =     # TODO: Set the database to work on as movies (1 pt)

#2. Database overview

##2.1 Setting database and collections and load dataset into the collection

In [28]:
                     # TODO: List the collections available (1 pt)

['movie_info']

In [29]:
collection =       # TODO: Set the collection to work on as movie_info (1 pt)

In [30]:
# Loading or Opening the json file
with open('movies.json') as file:
    file_data = json.load(file)
      
# Inserting the loaded data in the Collection
# if JSON contains data more than one entry
# insert_many is used else inser_one is used
if isinstance(file_data, list):
    collection.insert_many(file_data)  
else:
    collection.insert_one(file_data)

##2.2 Dataset size and attributes

In [35]:
## Dataset content summary
num_documents = # TODO: Count the number of documents in the Dataset (2 pt)
attributes =  # TODO: Find the attributes contained in the first document. (2 pt)
print ('Number of documents : %d' % num_documents)
print ('Attributes names : %s' % attributes)

Number of documents : 3201
Attributes names : ['_id', 'Title', 'US Gross', 'Worldwide Gross', 'US DVD Sales', 'Production Budget', 'Release Date', 'MPAA Rating', 'Running Time min', 'Distributor', 'Source', 'Major Genre', 'Creative Type', 'Director', 'Rotten Tomatoes Rating', 'IMDB Rating', 'IMDB Votes']

In [37]:
## Dataset content summary
def content_attribute( attribute_name ):
  return  #TODO: Find unique values for the attribute with value captured by variable attribute_name and return it from the function (2 pt)


for attribute_name in attributes:
    print(attribute_name)
    content =  content_attribute( attribute_name )
    sample = content
    if len(content) > 20:
      sample = content[:20]
    print ('Item name : ' + attribute_name + 
           '\n   Unique content : ' + str(len(content)) +
           '\n   Content : ' + str(sample) )

_id
Item name : _id
   Unique content : 3201
   Content : [ObjectId('6201eafe21d5dc03e2e821ed'), ObjectId('6201eafe21d5dc03e2e821ee'), ObjectId('6201eafe21d5dc03e2e821ef'), ObjectId('6201eafe21d5dc03e2e821f0'), ObjectId('6201eafe21d5dc03e2e821f1'), ObjectId('6201eafe21d5dc03e2e821f2'), ObjectId('6201eafe21d5dc03e2e821f3'), ObjectId('6201eafe21d5dc03e2e821f4'), ObjectId('6201eafe21d5dc03e2e821f5'), ObjectId('6201eafe21d5dc03e2e821f6'), ObjectId('6201eafe21d5dc03e2e821f7'), ObjectId('6201eafe21d5dc03e2e821f8'), ObjectId('6201eafe21d5dc03e2e821f9'), ObjectId('6201eafe21d5dc03e2e821fa'), ObjectId('6201eafe21d5dc03e2e821fb'), ObjectId('6201eafe21d5dc03e2e821fc'), ObjectId('6201eafe21d5dc03e2e821fd'), ObjectId('6201eafe21d5dc03e2e821fe'), ObjectId('6201eafe21d5dc03e2e821ff'), ObjectId('6201eafe21d5dc03e2e82200')]
Title
Item name : Title
   Unique content : 3177
   Content : [None, 9, 21, 54, 300, 1408, 1776, 1941, 2012, 2046, '10,000 B.C.', '102 Dalmatians', '10th & Wolf', '11:14', '12 Angry Men', '12 Rounds', '13 Going On 30', '15 Minutes', '16 Blocks', '16 to Life']
US Gross
Item name : US Gross
   Unique content : 3061
   Content : [None, 0, 401, 423, 527, 673, 703, 828, 884, 900, 1336, 1338, 1358, 1987, 3607, 3700, 4055, 4134, 4655, 4930]
Worldwide Gross
Item name : Worldwide Gross
   Unique content : 3075
   Content : [None, 0, 401, 423, 527, 673, 703, 828, 884, 900, 1336, 1338, 1358, 1987, 3700, 4055, 4134, 4655, 4930, 5361]
US DVD Sales
Item name : US DVD Sales
   Unique content : 565
   Content : [None, 618454, 853973, 893953, 910568, 943385, 970318, 1238181, 1251654, 1350584, 1370874, 1374953, 1619183, 1757108, 1765115, 1877732, 1978111, 2010869, 2177636, 2354497]
Production Budget
Item name : Production Budget
   Unique content : 382
   Content : [None, 218, 1100, 5000, 6000, 7000, 10000, 12000, 15000, 23000, 25000, 27000, 30000, 35000, 40000, 50000, 65000, 66000, 68000, 70000]
Release Date
Item name : Release Date
   Unique content : 1600
   Content : ['Apr 01 1965', 'Apr 01 1975', 'Apr 01 1986', 'Apr 01 1988', 'Apr 01 1996', 'Apr 01 2005', 'Apr 01 2006', 'Apr 02 1968', 'Apr 02 1982', 'Apr 02 1993', 'Apr 02 1999', 'Apr 02 2003', 'Apr 02 2004', 'Apr 02 2010', 'Apr 03 1998', 'Apr 03 2008', 'Apr 04 1997', 'Apr 04 1999', 'Apr 04 2003', 'Apr 04 2008']
MPAA Rating
Item name : MPAA Rating
   Unique content : 8
   Content : [None, 'G', 'NC-17', 'Not Rated', 'Open', 'PG', 'PG-13', 'R']
Running Time min
Item name : Running Time min
   Unique content : 110
   Content : [None, 46, 72, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]
Distributor
Item name : Distributor
   Unique content : 175
   Content : [None, '20th Century Fox', '3D Entertainment', '8X Entertainment', 'Access Motion Picture Group', 'AdLab Films', 'Alliance', 'Anchor Bay Entertainment', 'Apparition', 'Arab Film Distribution', 'Artisan', 'Artistic License', 'Atlantic', 'Attitude Films', 'Avatar', 'Avco Embassy', 'Big Fat Movies', 'Black Diamond Pictures', 'Borotoro', 'CBS Films']
Source
Item name : Source
   Unique content : 19
   Content : [None, 'Based on Book/Short Story', 'Based on Comic/Graphic Novel', 'Based on Factual Book/Article', 'Based on Game', 'Based on Magazine Article', 'Based on Musical/Opera', 'Based on Play', 'Based on Real Life Events', 'Based on Short Film', 'Based on TV', 'Based on Toy', 'Compilation', 'Disney Ride', 'Musical Group Movie', 'Original Screenplay', 'Remake', 'Spin-Off', 'Traditional/Legend/Fairytale']
Major Genre
Item name : Major Genre
   Unique content : 13
   Content : [None, 'Action', 'Adventure', 'Black Comedy', 'Comedy', 'Concert/Performance', 'Documentary', 'Drama', 'Horror', 'Musical', 'Romantic Comedy', 'Thriller/Suspense', 'Western']
Creative Type
Item name : Creative Type
   Unique content : 10
   Content : [None, 'Contemporary Fiction', 'Dramatization', 'Factual', 'Fantasy', 'Historical Fiction', 'Kids Fiction', 'Multiple Creative Types', 'Science Fiction', 'Super Hero']
Director
Item name : Director
   Unique content : 551
   Content : [None, 'Abel Ferrara', 'Adam McKay', 'Adam Shankman', 'Adrian Lyne', 'Adrienne Shelly', 'Akira Kurosawa', 'Alan Alda', 'Alan J. Pakula', 'Alan Parker', 'Alan Rudolph', 'Albert Brooks', 'Albert Hughes', 'Alejandro Gonzalez Inarritu', 'Alex Kendrick', 'Alex Proyas', 'Alexander Payne', 'Alexandre Aja', 'Alfonso Cuaron', 'Alfred Hitchcock']
Rotten Tomatoes Rating
Item name : Rotten Tomatoes Rating
   Unique content : 101
   Content : [None, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
IMDB Rating
Item name : IMDB Rating
   Unique content : 78
   Content : [None, 1.4, 1.5, 1.6, 1.7, 2, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3, 3.1, 3.2, 3.3, 3.4]
IMDB Votes
Item name : IMDB Votes
   Unique content : 2840
   Content : [None, 18, 25, 26, 33, 35, 41, 43, 44, 45, 48, 49, 50, 52, 54, 60, 63, 64, 66, 74]

In [42]:
#TODO: Print contents of a single document (Can be any document) (1 pt)

[{'Creative Type': None,
  'Director': None,
  'Distributor': 'Gramercy',
  'IMDB Rating': 6.1,
  'IMDB Votes': 1071,
  'MPAA Rating': 'R',
  'Major Genre': None,
  'Production Budget': 8000000,
  'Release Date': 'Jun 12 1998',
  'Rotten Tomatoes Rating': None,
  'Running Time min': None,
  'Source': None,
  'Title': 'The Land Girls',
  'US DVD Sales': None,
  'US Gross': 146083,
  'Worldwide Gross': 146083,
  '_id': ObjectId('6201eafe21d5dc03e2e821ed')}]

#3. Create Read Delete and Unique Attributes

##3.1 Adding and delete attributes

### 3.1.1 Add new atribute to your collection

In [43]:
#TODO: In the movie_info collection, add a new attribute is_hit_movie as true (Boolean) IF IMDB Rating is greater than 8 (3 pt)

In [44]:
#TODO: List 5 documents where is_hit_movie is true (2 pt)

[{'Creative Type': None,
  'Director': None,
  'Distributor': 'Universal',
  'IMDB Rating': 8.4,
  'IMDB Votes': 82786,
  'MPAA Rating': None,
  'Major Genre': None,
  'Production Budget': 2000000,
  'Release Date': 'Dec 25 1962',
  'Rotten Tomatoes Rating': 97,
  'Running Time min': None,
  'Source': None,
  'Title': 'To Kill A Mockingbird',
  'US DVD Sales': None,
  'US Gross': 13129846,
  'Worldwide Gross': 13129846,
  '_id': ObjectId('6201eafe21d5dc03e2e821f9'),
  'is_hit_movie': True},
 {'Creative Type': None,
  'Director': 'Sidney Lumet',
  'Distributor': 'United Artists',
  'IMDB Rating': 8.9,
  'IMDB Votes': 119101,
  'MPAA Rating': None,
  'Major Genre': 'Drama',
  'Production Budget': 340000,
  'Release Date': 'Apr 13 1957',
  'Rotten Tomatoes Rating': None,
  'Running Time min': None,
  'Source': 'Original Screenplay',
  'Title': '12 Angry Men',
  'US DVD Sales': None,
  'US Gross': 0,
  'Worldwide Gross': 0,
  '_id': ObjectId('6201eafe21d5dc03e2e82200'),
  'is_hit_movie': True},
 {'Creative Type': 'Science Fiction',
  'Director': 'Terry Gilliam',
  'Distributor': 'Universal',
  'IMDB Rating': 8.1,
  'IMDB Votes': 169858,
  'MPAA Rating': 'R',
  'Major Genre': 'Drama',
  'Production Budget': 29000000,
  'Release Date': 'Dec 27 1995',
  'Rotten Tomatoes Rating': None,
  'Running Time min': None,
  'Source': 'Based on Short Film',
  'Title': 'Twelve Monkeys',
  'US DVD Sales': None,
  'US Gross': 57141459,
  'Worldwide Gross': 168841459,
  '_id': ObjectId('6201eafe21d5dc03e2e82201'),
  'is_hit_movie': True},
 {'Creative Type': 'Science Fiction',
  'Director': 'Stanley Kubrick',
  'Distributor': None,
  'IMDB Rating': 8.4,
  'IMDB Votes': 160342,
  'MPAA Rating': None,
  'Major Genre': None,
  'Production Budget': 10500000,
  'Release Date': 'Apr 02 1968',
  'Rotten Tomatoes Rating': 96,
  'Running Time min': None,
  'Source': 'Original Screenplay',
  'Title': '2001: A Space Odyssey',
  'US DVD Sales': None,
  'US Gross': 56700000,
  'Worldwide Gross': 68700000,
  '_id': ObjectId('6201eafe21d5dc03e2e82205'),
  'is_hit_movie': True},
 {'Creative Type': None,
  'Director': 'Woody Allen',
  'Distributor': 'MGM',
  'IMDB Rating': 8.2,
  'IMDB Votes': 65406,
  'MPAA Rating': None,
  'Major Genre': 'Comedy',
  'Production Budget': 4000000,
  'Release Date': 'Apr 20 1977',
  'Rotten Tomatoes Rating': 98,
  'Running Time min': None,
  'Source': 'Original Screenplay',
  'Title': 'Annie Hall',
  'US DVD Sales': None,
  'US Gross': 38251425,
  'Worldwide Gross': 38251425,
  '_id': ObjectId('6201eafe21d5dc03e2e82226'),
  'is_hit_movie': True}]

### 3.1.2 Delete attribute and data

In [46]:
#TODO: Print attributes for document where Title is "The Godfather: Part II" (2 pt)

[{'Creative Type': 'Historical Fiction',
  'Director': 'Francis Ford Coppola',
  'Distributor': 'Paramount Pictures',
  'IMDB Rating': 9,
  'IMDB Votes': 245271,
  'MPAA Rating': None,
  'Major Genre': None,
  'Production Budget': 13000000,
  'Release Date': 'Dec 11 1974',
  'Rotten Tomatoes Rating': None,
  'Running Time min': None,
  'Source': None,
  'Title': 'The Godfather: Part II',
  'US DVD Sales': None,
  'US Gross': 57300000,
  'Worldwide Gross': 57300000,
  '_id': ObjectId('6201eafe21d5dc03e2e8235b'),
  'is_hit_movie': True}]

In [51]:
#TODO: Delete attribute Distributor from the collection (3 pt)

In [63]:
#TODO: Delete attribute Rotten Tomatoes Rating from the collection where Rotten Tomatoes Rating is null (3 pt)

In [64]:
#TODO: Delete attribute Major Genre from the collection where Major Genre is null (3 pt)

In [84]:
#TODO: Delete attribute Running Time min from the collection where Running Time min is null (3 pt)

In [85]:
#TODO: Print attributes for document where Title is "The Godfather: Part II". Validate that the Distributor attribute is not displayed (1 pt)

[{'Creative Type': 'Historical Fiction',
  'Director': 'Francis Ford Coppola',
  'IMDB Rating': 9,
  'IMDB Votes': 245271,
  'MPAA Rating': None,
  'Production Budget': 13000000,
  'Release Date': 'Dec 11 1974',
  'Source': None,
  'Title': 'The Godfather: Part II',
  'US DVD Sales': None,
  'US Gross': 57300000,
  'Worldwide Gross': 57300000,
  '_id': ObjectId('6201eafe21d5dc03e2e8235b'),
  'is_hit_movie': True}]

##3.2 Working with unique values for attributes

###3.2.1 Attribute unique content

In [76]:
query = collection.distinct("Rotten Tomatoes Rating") # Set query to capture Unique values for attribute Rotten Tomatoes Rating
print ("Rotten Tomatoes Ratings :" + str( sorted( query ) )) #Print Unique values for "Rotten Tomatoes Rating"


query =  #TODO: Unique values for attribute Major Genre (1 point)
         #TODO: Print Unique values for Major Genre (1 point)

Rotten Tomatoes Ratings :[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Major Genre :['Action', 'Adventure', 'Black Comedy', 'Comedy', 'Concert/Performance', 'Documentary', 'Drama', 'Horror', 'Musical', 'Romantic Comedy', 'Thriller/Suspense', 'Western']

###3.2.2 Filter by fields

In [89]:
# collection.find(  FILTER_CONDITION   ,  FIELDS_to_retreive )
# FIELDS      1 field:      string
#             more than 1 : a list [] 

#
filters =  #TODO: Filter collection to keep documents where Director IS NOT null (3 point)
fields =   #TODO: Create a list containing Title,Major Genre, Creative Type and Director (2 point)


list(collection.find( filters , fields ).limit(15)) #This will print Title,Major Genre, Creative Type and Director of movies where runtime is not null

[{'Creative Type': None,
  'Director': 'Christopher Nolan',
  'Title': 'Following',
  '_id': ObjectId('6201eafe21d5dc03e2e821f3')},
 {'Creative Type': None,
  'Director': 'Roman Polanski',
  'Title': 'Pirates',
  '_id': ObjectId('6201eafe21d5dc03e2e821f5')},
 {'Creative Type': None,
  'Director': 'Richard Fleischer',
  'Title': 'Tora, Tora, Tora',
  '_id': ObjectId('6201eafe21d5dc03e2e821fa')},
 {'Creative Type': None,
  'Director': 'Blake Edwards',
  'Title': 'Darling Lili',
  '_id': ObjectId('6201eafe21d5dc03e2e821fe')},
 {'Creative Type': None,
  'Director': 'Sidney Lumet',
  'Major Genre': 'Drama',
  'Title': '12 Angry Men',
  '_id': ObjectId('6201eafe21d5dc03e2e82200')},
 {'Creative Type': 'Science Fiction',
  'Director': 'Terry Gilliam',
  'Major Genre': 'Drama',
  'Title': 'Twelve Monkeys',
  '_id': ObjectId('6201eafe21d5dc03e2e82201')},
 {'Creative Type': 'Historical Fiction',
  'Director': 'Steven Spielberg',
  'Major Genre': 'Comedy',
  'Title': 1941,
  '_id': ObjectId('6201eafe21d5dc03e2e82203')},
 {'Creative Type': 'Science Fiction',
  'Director': 'Stanley Kubrick',
  'Title': '2001: A Space Odyssey',
  '_id': ObjectId('6201eafe21d5dc03e2e82205')},
 {'Creative Type': None,
  'Director': 'Richard Fleischer',
  'Major Genre': 'Adventure',
  'Title': '20,000 Leagues Under the Sea',
  '_id': ObjectId('6201eafe21d5dc03e2e82206')},
 {'Creative Type': None,
  'Director': 'Shane Meadows',
  'Major Genre': 'Comedy',
  'Title': '24 7: Twenty Four Seven',
  '_id': ObjectId('6201eafe21d5dc03e2e82208')},
 {'Creative Type': 'Contemporary Fiction',
  'Director': 'Michael Polish',
  'Major Genre': 'Drama',
  'Title': 'Twin Falls Idaho',
  '_id': ObjectId('6201eafe21d5dc03e2e82209')},
 {'Creative Type': 'Contemporary Fiction',
  'Director': 'Leonard Nimoy',
  'Major Genre': 'Comedy',
  'Title': '3 Men and a Baby',
  '_id': ObjectId('6201eafe21d5dc03e2e8220b')},
 {'Creative Type': 'Contemporary Fiction',
  'Director': 'Robert Rodriguez',
  'Major Genre': 'Comedy',
  'Title': 'Four Rooms',
  '_id': ObjectId('6201eafe21d5dc03e2e8220f')},
 {'Creative Type': 'Contemporary Fiction',
  'Director': 'Alan Alda',
  'Major Genre': 'Comedy',
  'Title': 'The Four Seasons',
  '_id': ObjectId('6201eafe21d5dc03e2e82210')},
 {'Creative Type': 'Contemporary Fiction',
  'Director': 'Mike Newell',
  'Major Genre': 'Romantic Comedy',
  'Title': 'Four Weddings and a Funeral',
  '_id': ObjectId('6201eafe21d5dc03e2e82211')}]

In [90]:
#TODO: Count the number of documents where movie run time is not null (3 point)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

1870

#4. Query operators

##4.1 Maximum and Minimum

In [93]:
#TODO:Using MongoDB operations (NOT PYTHON) find movie title with the longest runtime using attribute "Running Time min" (4 point)
#Hint: You will need to use sort function, pymongo.DESCENDING and use limit to restrict to the top result

[{'Running Time min': 222, 'Title': 'Gone with the Wind'}]

##4.2 Inclusion, exclusion operators  IN and  NIN

In [96]:
#TODO: Using the $in operator find print the count of movies directed by Steven Spielberg or Stanley Kubrick (3 point)

29

###4.3 Relational operators with numbers :  "greater than",  "equal", "little than"

In [97]:
#TODO: Count movies where runtime is greater than 120 minutes (3 point)

319

In [98]:
#TODO: Count movies where runtime is less than 120 minutes (3 point)

858

In [99]:
#TODO: Count movies where runtime is equal to 120 minutes (3 point)

32

###4.4 Relational operators with letters :  "greater than or equal"  or  "little than or equal"

Be careful, capital letters come before than lowercase letters in MongoDB

In [101]:
#TODO: Count movies where Director name starts with a letter between P and Z (P and Z are included). So names which start with P, Q, R, S, T....

684