<a href="https://colab.research.google.com/github/sjsu-isda140-spring2022/assignment1/blob/main/exercise/first_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. System setup



```
# This is formatted as code
```

##DO NOT EDIT THE CELL BELOW.
##RUN THE CELL AS IS

##1.1 Install PyMongo.
##This is your database driver.

In [ ]:
# Install PyMongo
# DO NOT EDIT
! python -m pip install pymongo==3.7.2 > /dev/null



```
# This is formatted as code
```

##1.2 Import PyMongo and set database
##TODO:
## FILL IN THE VALUES FOR USER NAME, PASSWORD, SERVER NAME, SERVER PORT

In [ ]:
import datetime                           # Imports datetime library
import pymongo                            # Imports PyMongo library
from pymongo import MongoClient           # Imports MongoClient 

# uri (uniform resource identifier) defines the connection parameters 
# uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASENAME')
# uri = 'mongodb:// USER : PASSWORD @ SERVER_NAME : PORT / DATABASE_NAME, CLUSTER_1_NAME : PORT , CLUSTER_2_NAME : PORT')
# uri = 'localhost:27017'
SERVER_NAME = #TODO: INSERT YOUR SERVER NAME
SERVER_PORT = #TODO: INSERT YOUR SERVER PORT
USER_NAME = #TODO: INSERT YOUR USER NAME FOR MONGODB
PASSWORD = #TODO: INSERT YOUR PASSWORD FOR MONGODB
NAME_OF_DATABASE = 'movies'
#uri = 'mongodb://<INSERT YOUR USER NAME>:<INSERT YOUR PASSWORD>@<INSERT YOUR SERVER NAME>:<INSERT SERVER PORT>/<INSERT DATABASE NAME>'
uri = 'mongodb://{}:{}@{}{}/{}'.format(USER_NAME,PASSWORD,SERVER_NAME,SERVER_PORT,NAME_OF_DATABASE)
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [ ]:
#In the cell below, write python code to list all the database names using the client object created in the cell above. 
# Your database name should only list "movies".

db_list = ##TYPE YOUR CODE HERE

In [ ]:
db = #TODO: Using the client object created above, set the database to work on in this line
              
db_collections = #TODO: Using the active db variable assigned above this line, find names of all the document collections which are in this database


if 'movie_info' in db_collections:
  print ('Deleting "movie_info" collection')
  #TODO: TYPE YOUR CODE HERE to DELETE existing collection with the name movie_info
else:
  print ('Not previous collection found')

Now we need to make sure if there was an existing collection with the name movie_info, it was indeed deleted. You can do this by printing existing database collections.

In [ ]:
#TODO: Using the active db variable assigned above this line, find names of all the document collections which are in this database.

##1.3 Download database and import dataset into mongodb

In [ ]:
# Downloading Movie dataset using wget
!wget https://raw.githubusercontent.com/vega/vega/master/docs/data/movies.json  
# TODO: Uploading data to Mongo Database
!mongodb-linux-x86_64-debian71-3.0.15/bin/mongoimport --host SERVER_NAME \
                                                      --port SERVER_PORT \
                                                      --username= USER_NAME \
                                                      --password= PASSWORD \
                                                      --db NAME_OF_DATABASE \
                                                      --collection NAME_OF_COLLECTION \
# Reference https://www.kenwalger.com/blog/nosql/mongodb/importing-data-mongoimport/

#2. Database overview

In [ ]:
db =                            # TODO: Set the database to work on
                                # TODO: List the collections available

In [ ]:
collection =               # TODO: Set the collection to work on

##2.1 Dataset size and attributes

In [ ]:
## Dataset content summary
num_documents = # TODO: Count the number of documents in the Dataset
attributes = # TODO: Find the attributes contained in the first document.
print ('Number of documents : %d' % num_documents)
print ('Attributes names : %s' % attributes)

In [ ]:
## Dataset content summary
def content_attribute( attribute_name ):
  #TODO: Find unique values for the attribute with value captured by variable attribute_name and return it from the function

for attribute_name in attributes:
    content =  content_attribute( attribute_name )
    sample = content
    if len(content) > 20:
      sample = content[:20]
    print ('Item name : ' + attribute_name + 
           '\n   Unique content : ' + str(len(content)) +
           '\n   Content : ' + str(sample) )

In [ ]:
#TODO: Print contents of a single document (Can be any document)

#3. Create Read Update Delete - Part 2

##3.1 Adding and delete attributes

### Add new atribute to your collection

In [ ]:
#TODO: In the movie_info collection, add a new attribute is_hit_movie as true (Boolean) IF IMDB Rating is greater than 8

In [ ]:
#TODO: List 5 documents where is_hit_movie is true

### Delete attribute and data

In [ ]:
#TODO: Print attributes for document where Title is "The Godfather: Part II"

In [ ]:
#TODO: Delete attribute Distributor from the collection

In [ ]:
#TODO: Print attributes for document where Title is "The Godfather: Part II". Validate that the Distributor attribute is not displayed

##3.2 Working with unique values for attributes

###3.2.1 Attribute unique content

In [ ]:
query = #TODO: Unique values for attribute Rotten Tomatoes Rating
#TODO: Print Unique values for "Rotten Tomatoes Rating"

query = #TODO: Unique values for attribute Major Genre
#TODO: Print Unique values for Major Genre

###3.2.2 Filter by fields

In [ ]:
# collection.find(  FILTER_CONDITION   ,  FIELDS_to_retreive )
# FIELDS      1 field:      string
#             more than 1 : a list [] 

#
filters =  #TODO: Filter collection to keep documents where Running Time min IS NOT null 
fields =  #TODO: Create a list containing Title,Major Genre, Creative Type and Director


list(collection.find( filters , fields ).limit(1)) #This will print Title,Major Genre, Creative Type and Director of movies where runtime is not null

In [ ]:
#TODO: Count the number of documents where movie run time is not null

###3.2.6 Sort query Ascending

#4. Query operators

##4.2 Maximum and Minimum

In [ ]:
#TODO:Using MongoDB operations (NOT PYTHON) find movie with the longest runtime using attribute "Running Time min"
#Hint: You will need to use sort function, pymongo.DESCENDING and use limit to restrict to the top result

In [ ]:
#TODO:Using MongoDB operations (NOT PYTHON) find movie with the shortest runtime using attribute "Running Time min"

##4.3 Inclusion, exclusion operators  IN and  NIN

In [ ]:
#TODO: Using the $in operator find print the count of movies directed by Steven Spielberg or Stanley Kubrick

###4.4.1 Relational operators with numbers :  "greater than",  "equal", "little than"

In [ ]:
#TODO: Count movies where runtime is greater than 120 minutes

In [ ]:
#TODO: Count movies where runtime is less than 120 minutes

In [ ]:
#TODO: Count movies where runtime is equal to 120 minutes

###4.4.2 Relational operators with letters :  "greater than or equal"  or  "little than or equal"

Be careful, capital letters come before than lowercase letters in MongoDB

In [ ]:
#TODO: Count movies where Director name starts with a letter between P and Z (P and Z are included). So names which start with P, Q, R, S, T.... 

collection.count_documents({"name": {"$lt" : "B" }})   # Names which start with A