<a href="https://colab.research.google.com/github/sjsu-isda140-spring2022/assignment1/blob/main/exercise/first_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. System setup



```
# This is formatted as code
```

##DO NOT EDIT THE CELL BELOW.
##RUN THE CELL AS IS

##1.1 Install PyMongo.
##This is your database driver.

In [ ]:
# Install PyMongo
# DO NOT EDIT
! python -m pip install pymongo==3.7.2 > /dev/null



```
# This is formatted as code
```

##1.2 Import PyMongo and set database

In [ ]:
import datetime                           # Imports datetime library
import pymongo                            # Imports PyMongo library
from pymongo import MongoClient           # Imports MongoClient

In [ ]:
SERVER_NAME = #TODO: INSERT YOUR SERVER NAME (1 pt)

In [ ]:
SERVER_PORT = #TODO: INSERT YOUR SERVER PORT (1 pt)

In [ ]:
USER_NAME = #TODO: INSERT YOUR USER NAME FOR MONGODB (1 pt)

In [ ]:
PASSWORD = #TODO: INSERT YOUR PASSWORD FOR MONGODB (1 pt)

In [ ]:
NAME_OF_DATABASE = 'movies'

##1.3 DON'T EDIT THE CELL BELOW
## It is setup to download database and import dataset into mongodb server using the server uri and credentials

In [ ]:
# Downloading Movie dataset using wget
!wget https://raw.githubusercontent.com/vega/vega/master/docs/data/movies.json  
# Uploading data to Mongo Database
!mongodb-linux-x86_64-debian71-3.0.15/bin/mongoimport --host SERVER_NAME \
                                                      --port SERVER_PORT \
                                                      --username= USER_NAME \
                                                      --password= PASSWORD \
                                                      --db NAME_OF_DATABASE \
                                                      --collection NAME_OF_COLLECTION \
# Reference https://www.kenwalger.com/blog/nosql/mongodb/importing-data-mongoimport/

In [ ]:
uri = 'mongodb://{}:{}@{}{}/{}'.format(USER_NAME,PASSWORD,SERVER_NAME,SERVER_PORT,NAME_OF_DATABASE)
# start client to connect to MongoDB server  (Successful connection: 1 point)
client = MongoClient( uri )

##1.4 List databases and collections

In [ ]:
#TODO
db = #TODO: Print names of databases on the server (1 pt)
collection = #TODO: Print names of collections in the database (1 pt)

#2. Database overview

##2.1 Setting database and collections

In [ ]:
db =                            # TODO: Set the database to work on as movies (1 pt)
print()                         # TODO: List the collections available (1 pt)

In [ ]:
collection =               # TODO: Set the collection to work on as movie_info (1 pt)

##2.2 Dataset size and attributes

In [ ]:
## Dataset content summary
num_documents = # TODO: Count the number of documents in the Dataset (2 pt)
attributes = # TODO: Find the attributes contained in the first document. (2 pt)
print ('Number of documents : %d' % num_documents)
print ('Attributes names : %s' % attributes)

In [ ]:
## Dataset content summary
def content_attribute( attribute_name ):
  #TODO: Find unique values for the attribute with value captured by variable attribute_name and return it from the function (2 pt)

for attribute_name in attributes:
    content =  content_attribute( attribute_name )
    sample = content
    if len(content) > 20:
      sample = content[:20]
    print ('Item name : ' + attribute_name + 
           '\n   Unique content : ' + str(len(content)) +
           '\n   Content : ' + str(sample) )

In [ ]:
#TODO: Print contents of a single document (Can be any document) (1 pt)

#3. Create Read Delete and Unique Attributes

##3.1 Adding and delete attributes

### 3.1.1 Add new atribute to your collection

In [ ]:
#TODO: In the movie_info collection, add a new attribute is_hit_movie as true (Boolean) IF IMDB Rating is greater than 8 (3 pt)

In [ ]:
#TODO: List 5 documents where is_hit_movie is true (2 pt)

### 3.1.2 Delete attribute and data

In [ ]:
#TODO: Print attributes for document where Title is "The Godfather: Part II" (2 pt)

In [ ]:
#TODO: Delete attribute Distributor from the collection (3 pt)

In [ ]:
#TODO: Print attributes for document where Title is "The Godfather: Part II". Validate that the Distributor attribute is not displayed (1 pt)

##3.2 Working with unique values for attributes

###3.2.1 Attribute unique content

In [ ]:
query = collection.distinct( "Rotten Tomatoes Rating" ) # Set query to capture Unique values for attribute Rotten Tomatoes Rating
print ("Rotten Tomatoes Ratings :" + str( sorted( query ) )) #Print Unique values for "Rotten Tomatoes Rating"


query = #TODO: Unique values for attribute Major Genre (1 point)
#TODO: Print Unique values for Major Genre (1 point)

###3.2.2 Filter by fields

In [ ]:
# collection.find(  FILTER_CONDITION   ,  FIELDS_to_retreive )
# FIELDS      1 field:      string
#             more than 1 : a list [] 

#
filters =  #TODO: Filter collection to keep documents where Running Time min IS NOT null (3 point)
fields =  #TODO: Create a list containing Title,Major Genre, Creative Type and Director (2 point)


list(collection.find( filters , fields ).limit(1)) #This will print Title,Major Genre, Creative Type and Director of movies where runtime is not null

In [ ]:
#TODO: Count the number of documents where movie run time is not null (3 point)

#4. Query operators

##4.1 Maximum and Minimum

In [ ]:
#TODO:Using MongoDB operations (NOT PYTHON) find movie with the longest runtime using attribute "Running Time min" (4 point)
#Hint: You will need to use sort function, pymongo.DESCENDING and use limit to restrict to the top result

In [ ]:
#TODO:Using MongoDB operations (NOT PYTHON) find movie with the shortest runtime using attribute "Running Time min" (4 point)

##4.2 Inclusion, exclusion operators  IN and  NIN

In [ ]:
#TODO: Using the $in operator find print the count of movies directed by Steven Spielberg or Stanley Kubrick (3 point)

###4.3 Relational operators with numbers :  "greater than",  "equal", "little than"

In [ ]:
#TODO: Count movies where runtime is greater than 120 minutes (3 point)

In [ ]:
#TODO: Count movies where runtime is less than 120 minutes (3 point)

In [ ]:
#TODO: Count movies where runtime is equal to 120 minutes (3 point)

###4.4 Relational operators with letters :  "greater than or equal"  or  "little than or equal"

Be careful, capital letters come before than lowercase letters in MongoDB

In [ ]:
#TODO: Count movies where Director name starts with a letter between P and Z (P and Z are included). So names which start with P, Q, R, S, T.... 

collection.count_documents({"name": {"$lt" : "B" }})   # Names which start with A (2 point)